# python3.11, virtualenv -ppython3.11 .venv
lark==1.1.8
secure==0.3.0
docopt==0.6.2
schema==0.7.5
hi-dateinfer==0.4.6
fastapi==0.108.0
uvicorn==0.25.0
python-multipart==0.0.6
loguru==0.7.2
requests==2.31.0
rdflib==6.3.2
python-dateutil==2.8.2
