# python3.11, virtualenv -ppython3.11 .venv
# file with the requirements to execute the python tests using tox
pytest==7.4.0
tox==4.10.0
types-docopt==0.6.11.3
types-python-dateutil==2.8.19.14
types-pytz==2023.3.0.0
types-requests==2.31.0.2
coverage==7.2.7
